body {
    background-color: #aad0ce;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 90px;
}

/* Top Banner */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2c3e50;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.big-logo {
    width: 100px;
    height: 70px;
    margin: 5px;

}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: block;
    font-size: 32px;
    cursor: pointer;
    padding: 10px;
    color: white;
    z-index: 200;
    padding-right: 20px;
}

.nav-links {
    display: none;
    flex-direction: column;
    background-color: #2c3e50;
    padding: 10px;
    position: absolute;
    right: 20px;
    top: 60px;
    border-radius: 10px;
    z-index: 100;
}

.menu-toggle:checked + .menu-icon + .nav-links {
    display: flex;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 8px 0;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #aad0ce;
}

/* Intro */

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/static/images/homepage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    color: black;
    flex: 1;
    opacity: 0;
    transform: translateY(20px);
    animation: pop-up 1s ease-out forwards;
}

.intro-container h2 {
    font-size: 35px; 
    opacity: 0; 
    transform: translateY(20px);
    animation: pop-up 1s ease-out forwards;
    animation-delay: 0.2s;
}
 
.intro-container h3 {
    font-size: 25px; 
    margin: 1px;   
    padding: 1px; 
    opacity: 0; 
    transform: translateY(20px);
    animation: pop-up 1s ease-out forwards;
    animation-delay: 0.4s; 
}

@keyframes pop-up {
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

.overview-table {
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin: 35px auto;
    width: 90%;
    border: 2px solid #ccc; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow-x: auto;
}

.overview-table table {
    width: 100%; 
    border-collapse: collapse; 
    border: None;
    box-sizing: border-box;
    table-layout: fixed;
}

.overview-table th, td {
    padding: 10px;
    text-align: left;
    border: none;
}

.overview-table table th:nth-child(1),
.overview-table table td:nth-child(1) {
    width: 35%;
}

.messages {
    padding: 25px;
    margin: 15px auto;
    border-radius: 15px;
    border: 2px solid #ccc; 
    width: 90%; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow-x: auto;
    flex-direction: column;
    align-items: center;
}

.messages p {
    text-align: left;
    margin-left: 30px;
}

.study-levels {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    font-size: 25px;
    margin-top: 10px;
    font-weight: bold;
    opacity: 0; 
    transform: translateY(20px);
    animation: pop-up 1s ease-out forwards;
    animation-delay: 0.6s;
}

.study-levels img {
    background-color: none;
    margin-right: 20px;
}

.study-levels a {
    display: flex;
    list-style: none;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.study-levels a:hover {
    color: #aad0ce;
}


/* Tables */
.table-section {
    margin: 35px auto;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #ccc; 
    width: 90%; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow-x: auto;
    position: center;
}

.table-section table {
    width: 100%; 
    border-collapse: collapse; 
    border: None;
    table-layout: auto;
    box-sizing: border-box;
}

.table-section  th, td {
    padding: 10px;
    text-align: left;
    border: none;
}

.table-section td:first-child, th:first-child {
    position: sticky;
    left: 0;
    background-color: #f9f9f9;  
    z-index: 2;  
}

.table-section td:nth-last-child(3), th:nth-last-child(3) {
    position: sticky;
    right: 0;
    background-color: #f9f9f9;
    z-index: 2;
}

/* Target */
.header-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

h1 {
    flex-grow: 1; 
    text-align: center;
    margin: 0;
}

.target-score-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0px; 
    margin-top: 8px;
}

.update {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0px; 
    margin-top: 8px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 25px;
    background-color: #9CB29D;
    color: white; 
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}


.tooltip-label {
    position: relative;
    cursor: pointer;
    margin-bottom: 3px;
    font-size: 15px;
}

.target-score-form input {
    padding: 3px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 75%;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.target_flash-message {
    color: red;
    font-size: 10px;
    text-align: center;
    animation: fadeOut 3s ease-in-out forwards; /
}

@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

/* Bottom Banner */
.outro-banner {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    position: static;
    bottom: 0;
    z-index: 2;
}

.outro-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;  
    margin: 0 auto;
}

.left-side {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
}

.right-side {
    text-align: right;
}

.outro-banner a {
    color: #aad0ce;
    text-decoration: none;
    font-weight: bold;
}

.outro-banner a:hover {
    text-decoration: underline;
}

.outro-content p {
    margin: 5px 0;
    font-size: 16px;
}

.left-side p:first-child {
    font-size: 18px;
}


/* Other Pages */
.container {
    padding: 15px;
    margin: 15px auto;
    border-radius: 15px;
    border: 2px solid #ccc; 
    width: 500px; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow-x: auto;
    position: center;
    flex-direction: column;
    align-items: center;
}

.container h2 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 25px;
}

.container button {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #9CB29D;
    color: white;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: none; 
    margin-bottom: 20px;
}

.container input {
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 75%;
    transition: all 0.3s ease;
}

.container select {
    padding: 10px;
    font-size: 46px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 80%;
    transition: all 0.3s ease;
}

.flash-message {
    color: red;
    font-size: 16px;
    margin-top: 3px; 
    text-align: center;
    animation: fadeOut 3s ease-in-out forwards; /
}

@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

/* Update */
.update_container label,
.update_container select,
.update_container input {
    align-items: left;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.update_container select {
    padding: 10px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 80%;
    transition: all 0.3s ease;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.update-btn {
    order: 2;
    margin-right: 45px;
}

.reset-btn {
    order: 1; 
    margin-left: 45px;
}

/* Electives */
.elective_container label,
.elective_container select,
.elective_container input {
    align-items: left;
    font-size: 19px;
    margin-bottom: 15px;
}

.elective_container select {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 77%;
    transition: all 0.3s ease;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.choose-btn {
    order: 2; 
    margin-right: 45px;
}

.skip-btn {
    order: 1; 
    margin-left: 45px;
}

/* Deadlines */
.deadlines-table-section {
    margin: 35px auto;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #ccc; 
    width: 90%; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow-x: auto;
    position: center;
}

.deadlines-table-section table {
    width: 100%; 
    border-collapse: collapse; 
    border: None;
    table-layout: auto;
    box-sizing: border-box;
}

.deadlines-table-section  th, td {
    padding: 10px;
    text-align: left;
    border: none;
}

/* Get in touch */

.get_in_touch-container {
    display: flex;
    width: 85%;
    background-color: #2c3e50;
    position: center;
    margin: 35px auto;
    padding: 10px;
    overflow-x: auto;
    position: center;
    margin-bottom: 33px;
    font-family: Roboto, sans-serif;
}

.left-box {
    width: 60%; 
    padding: 10px;
    font-family: Roboto, sans-serif;
    margin: 0 auto;
    border-radius: 10px;
    color: white;
}

.left-box h2 {
    text-align: left;
    margin-bottom: 22px;
    margin-left: 25px;
    font-size: 24px;
}

.left-box form {
    display: flex;
    flex-direction: column;
}

.left-box textarea {
    width: 80%; 
    padding: 10px;
    font-size: 16px;
    margin: 0 auto; 
    display: block; 
    border-radius: 5px;
    border: 1px solid #ccc; 
}

.left-box textarea::placeholder {
    color: grey; 
    font-style: italic; 
}

.left-box button {
    padding: 10px 20px; 
    background-color: #9CB29D;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 40%;
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px; 
}

.right-box {
    width: 40%;
    margin-top: 30px;
    margin-left: 10px;
}

.right-box a, 
.right-box p {
    display: flex;
    list-style: none;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    margin-top: 15px;
    font-size: 16px;
    text-align: left;
}

.right-box a:hover {
    color: #aad0ce;
}

.git-index {
    margin-top: 60px;
}

.git-index a {
    font-size: 18px;
}

/* Tasks */
.form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    align-items: center;
    align-items: stretch;
    height: 100%;
    padding-bottom: 0px;
}


.task-form { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%; 
    max-width: 100%; 
    padding: 25px;
    border-radius: 15px;
    border: 2px solid #ccc; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow-x: auto;
}

.task-form button {
    padding: 8px 16px;
    background-color: #9CB29D;
    color: white;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: none; 
    margin-top: 5px;
}

.task-form input,
.task-form select {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 60%;
}

.task-form label {
    margin-bottom: 5px;
    font-size: 16px;
}

.task-form p {
    font-size: 18px;
    margin-bottom: 0px;
}

.task-form.left {
    flex-basis: 64%; 
}

.task-form.right {
    flex-basis: 36%; 
}

.header {
    padding: 10px;
    margin-top: 10px;
    color: #2c3e50;
    font-size: 40px;
}

/* Study Log */

.study-right {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    font-size: 25px;
    flex-wrap: wrap;  
    margin-top: 10px;
    margin-left: 10px;
}

.study-right img {
    background-color: none;
    margin-right: 20px;
}

.study-right a {
    display: flex;
    list-style: none;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    margin: 5px;
    font-size: 22px;
}

.study-right p {
    display: flex;
    list-style: none;
    color: black;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    margin: 15px;
    font-size: 18px;
}

.task-form.left h3 {
    text-decoration: None;
    font-size: 18px;
    font-weight: None;
    margin: 20px;
}


/* Phones */
@media (max-width: 768px) {

    .intro-container {
        flex-direction: column;
        padding: 15px;
        background-image: url('/static/images/simplehomepage.jpg');
        padding: 25px;
    }

    .welcome-section, .overview-table, .table-section, .deadlines-table-section {
        width: 90%;
        padding: 15px;
        text-align: center;
    }

    .header-container {
        flex-direction: column;
        text-align: center;
        position: static;
    }

    .target-score-form, .update {
        position: static;
        margin-top: 10px;
    }

    .outro-content {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .container {
        width: 80%;
    }

    .button-container {
        gap: 2px;
    }

    .button-container button {
        margin: 15px;
    }

    .task-form.left h3{
        margin-top: 30px;
    }

    .study-right {
        margin-top: 0px;
        margin-left: 0px;
        position: center;
    }

    .study-right p {
        font-size: 17px;
        gap: 2px;
        margin: 3px;
        text-align: center;
        width: 100%; 
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
}
