<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Exam Timetable</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="banner">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/biglogo.png') }}" class="big-logo" alt="Logo">
        </a>
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <nav class="nav-links">
            <a href="{{ url_for('index') }}">Return Home</a>
            <a href="{{ url_for('grades') }}">Grades</a>
            <a href="{{ url_for('studylog') }}">Study Log</a>
            <a href="{{ url_for('tasks') }}">Tasks</a>
            <a href="{{ url_for('deadlines') }}">Deadlines</a>
            <a href="{{ url_for('exam_timetable') }}">Exam Timetable</a>
            <a href="{{ url_for('update_scores') }}">Update Scores</a>
            <a href="{{ url_for('electives') }}">Choose Electives</a>
            <a href="{{ url_for('get_in_touch') }}">Get in Touch</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
    </div>
    
    <div class="deadlines-table-section">
        <h2>Exam Timetable</h2>
        <table>
         <tr>
            <th>Module</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        {% for row in exam %}
        <tr>
            {% for item in row %}
                <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </table>
    </div>
</body>
</html>