<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Get in Touch</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="banner">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/biglogo.png') }}" class="big-logo" alt="Logo">
        </a>
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <nav class="nav-links">
            <a href="{{ url_for('index') }}">Return Home</a>
            <a href="{{ url_for('grades') }}">Grades</a>
            <a href="{{ url_for('studylog') }}">Study Log</a>
            <a href="{{ url_for('tasks') }}">Tasks</a>
            <a href="{{ url_for('deadlines') }}">Deadlines</a>
            <a href="{{ url_for('exam_timetable') }}">Exam Timetable</a>
            <a href="{{ url_for('update_scores') }}">Update Scores</a>
            <a href="{{ url_for('electives') }}">Choose Electives</a>
            <a href="{{ url_for('get_in_touch') }}">Get in Touch</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
    </div>

    <div class="get_in_touch-container">
        <div class="left-box">
            <h2>Get in Touch</h2>
            <form method="POST">
                <textarea name="message" rows="6" required placeholder="Write message here"></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
        <div class="right-box">
            <a href="https://forms.gle/fwBaNPWCTq5SEeKP8" target="_blank">Suggestions and Thoughts Form</a>
            <a href="https://ibconnect.imperial.ac.uk/IBstudents2024/blog/student-support-directory/300001015/" target="_blank">Student Support</a>
            {% if user_year == '2023-2026' %}
                <a href=https://chat.whatsapp.com/JmZ7DcDfehm1vUxN9NVsdK target="_blank">WhatsApp Chat</a>
            {% elif user_year == '2024-2027' %}
                <a href="https://forms.office.com/e/3cvVyHnFM5" target="_blank">Feedback Form</a>
            {% endif %}
            <br>
            <p>Made by Sofia Hueffer</p>
            <p>Email: smhueffer@gmail.com</p>
            <p>Phone: 07484254531</p>
        </div>
    </div>

</body>