<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="banner">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/biglogo.png') }}" class="big-logo" alt="Logo">
        </a>
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <nav class="nav-links">
            <a href="{{ url_for('index') }}">Return Home</a>
            <a href="{{ url_for('grades') }}">Grades</a>
            <a href="{{ url_for('studylog') }}">Study Log</a>
            <a href="{{ url_for('tasks') }}">Tasks</a>
            <a href="{{ url_for('deadlines') }}">Deadlines</a>
            <a href="{{ url_for('exam_timetable') }}">Exam Timetable</a>
            <a href="{{ url_for('update_scores') }}">Update Scores</a>
            <a href="{{ url_for('electives') }}">Choose Electives</a>
            <a href="{{ url_for('get_in_touch') }}">Get in Touch</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
    </div>

    <div class="intro-container">
        <h2>Welcome {{ username }}</h2>
        <h3>Economics, Finance and Data Science</h3>
        <h3>{{ user_year }}</h3>

        <div class="study-levels">
            {% if badge == 'Bronze' %}
                <img src="{{ url_for('static', filename='images/bronze.png') }}" width="80" height="80" alt="Bronze">
            {% elif badge == 'Silver' %}
                <img src="{{ url_for('static', filename='images/silver.png') }}" width="80" height="80" alt="Silver">
            {% elif badge == 'Gold' %}
                <img src="{{ url_for('static', filename='images/gold.png') }}" width="80" height="80" alt="Gold">
            {% elif badge == 'Platinum' %}
                <img src="{{ url_for('static', filename='images/platinum.png') }}" width="80" height="80" alt="Platinum">
            {% endif %}

            {% if streak == 0 %}
                <a href="{{ url_for('studylog') }}">Log study to keep streak!</a>
            {% else %}
                <a href="{{ url_for('studylog') }}">Streak: {{ streak }} <img src="{{ url_for('static', filename='images/streak.png') }}" width="25" height="25" alt="Fire"></a>
            {% endif %}
        </div>
    </div>

    <div class="messages">
        <h2>Messages</h2>
        {% for module, days_left in deadlines %}
            <p style="color: red;">{{ module }} due in {{ days_left }} days!</p>
        {% endfor %}
        <p>Have a great break!</p>
        {% if user_year == '2023-2026' %}
            <p></p>
        {% elif user_year == '2024-2027' %}
            <p></p>
        {% endif %}
    </div>


    <div class="overview-table">
        <div class="header-container">
            <h2>Overview</h2>
            <a href="{{ url_for('update_scores') }}" class = "update">Update Scores</a>
        </div>

        <table border="1">
            <tr>
                <th>Year</th>
                <th>Weight (%)</th>
                <th>Current Score (%)</th>
                <th>Current Grade</th>
            </tr>
            {% for row in Overview %}
            <tr>
                {% for item in row %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <h2>Year {{ value }}</h2>
        <table border="1">
            <tr>
                <th>Module</th>
                <th>Credits</th>
                <th>Current Score (%)</th>
                <th>Current Grade</th>
            </tr>
            {% for row in Curr_Year %}
            <tr>
                {% for item in row %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="table-section">
        <div class="header-container">
            <h2>Tasks to Do</h2>
            <a href="{{ url_for('tasks') }}" class = "update">Add Task</a>
        </div>
        <table border="1">
            <tr>
                <th>Task</th>
                <th>Notes</th>
                <th>Due Date</th>
            </tr>
            {% for row in task_list %}
            <tr>
                {% for item in row %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="get_in_touch-container">
        <div class="left-box">
            <h2>Get in Touch</h2>
            <form method="POST" action="{{ url_for('get_in_touch') }}">
                <textarea name="message" rows="6" required placeholder="Write message here"></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
        <div class="right-box">
            <div class="git-index">
                <a href="https://forms.gle/fwBaNPWCTq5SEeKP8" target="_blank">Suggestions and Thoughts Form</a>
                <a href="https://ibconnect.imperial.ac.uk/IBstudents2024/blog/student-support-directory/300001015/" target="_blank">Student Support</a>
                {% if user_year == '2023-2026' %}
                    <a href=https://chat.whatsapp.com/JmZ7DcDfehm1vUxN9NVsdK target="_blank">WhatsApp Chat</a>
                {% elif user_year == '2024-2027' %}
                    <a href="https://forms.office.com/e/3cvVyHnFM5" target="_blank">Feedback Form</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="outro-banner">
        <div class="outro-content">
            <div class="left-side">
                <p>Made by Sofia Hueffer <span class="separator">|</span> All Rights Reserved</p>
                <p>For any suggestions or issues, please contact </p>
            </div>
            <div class="right-side">
                <p>Email: smhueffer@gmail.com</p>
                <p>Phone: 07484254531</p>
            </div>
        </div>
    </div>

</body>
</html>