<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Scores</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="banner">
        <nav class="nav-links">
            <a href="{{ url_for('index') }}">Return Home</a>
            <a href="{{ url_for('electives') }}">Choose Electives</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
    </div>

    <div class="container">
        <div class="update_container">
            <h2>Update Scores</h2>
            <form action="{{ url_for('update_scores') }}" method="POST">

                <label for="module">Select Module:</label>
                <select name="module" id="module" required>
                    {% for year, modules in modules_by_year.items() %}
                        <optgroup label="{{ year }}">
                            {% for module in modules %}
                                <option value="{{ module[0] }}">{{ module[0] }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select><br>

                <label for="score_type">Select Score to Update:</label>
                <select name="score_type" id="score_type" required>
                    <option value="score_1">Score 1</option>
                    <option value="score_2">Score 2</option>
                    <option value="score_3">Score 3</option>
                    <option value="score_4">Score 4</option>
                </select><br>

                <label for="new_score">Enter New Score:</label>
                <input type="text" name="new_score" placeholder="Enter new score" /><br>

                <div class="button-container">
                    <button type="submit" name="action" value="update" class="update-btn">Update Score</button>
                    <button type="submit" name="action" value="reset" class="reset-btn">Reset Score</button>
                </div>
            </form>
            {% for message in get_flashed_messages() %}
                <p class="flash-message">{{ message }}</p>
            {% endfor %}
        </div>
    </div>

    <div class="outro-banner">
        <div class="outro-content">
            <div class="left-side">
                <p>Made by Sofia Hueffer <span class="separator">|</span> All Rights Reserved</p>
                <p>For any suggestions or issues, please contact </p>
            </div>
            <div class="right-side">
            <p>Email: <a href="smhueffer@egmail.com">smhueffer@gmail.com</a></p>
            <p>Phone: <a href="tel:07484254531">07484254531</a></p>
        </div>
    </div>

</body>
</html>
