<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Update Scores</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="banner">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/biglogo.png') }}" class="big-logo" alt="Logo">
        </a>
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <nav class="nav-links">
            <a href="{{ url_for('index') }}">Return Home</a>
            <a href="{{ url_for('grades') }}">Grades</a>
            <a href="{{ url_for('studylog') }}">Study Log</a>
            <a href="{{ url_for('tasks') }}">Tasks</a>
            <a href="{{ url_for('deadlines') }}">Deadlines</a>
            <a href="{{ url_for('exam_timetable') }}">Exam Timetable</a>
            <a href="{{ url_for('update_scores') }}">Update Scores</a>
            <a href="{{ url_for('electives') }}">Choose Electives</a>
            <a href="{{ url_for('get_in_touch') }}">Get in Touch</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </nav>
    </div>

    <div class="container">
        <div class="update_container">
            <h2>Update Exam Scores</h2>
            <form action="{{ url_for('update_scores') }}" method="POST">

                <label for="module">Select Module:</label>
                <select name="module" id="module" required>
                    {% for year, modules in modules_by_year.items() %}
                        <optgroup label="{{ year }}">
                            {% for module in modules %}
                                <option value="{{ module[0] }}">{{ module[0] }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select><br>

                <label for="score_type">Select Exam to Update:</label>
                <select name="score_type" id="score_type" required>
                    <option value="score_1">Exam 1</option>
                    <option value="score_2">Exam 2</option>
                    <option value="score_3">Exam 3</option>
                    <option value="score_4">Exam 4</option>
                </select><br>

                <label for="new_score">Enter New Exam Score:</label>
                <input type="number" name="new_score" placeholder="Enter new score" step=0.01 /><br>

                <div class="button-container">
                    <button type="submit" name="action" value="update" class="update-btn">Update Score</button>
                    <button type="submit" name="action" value="reset" class="reset-btn">Reset Score</button>
                </div>
            </form>
            {% for message in get_flashed_messages() %}
                <p class="flash-message">{{ message }}</p>
            {% endfor %}
        </div>
    </div>
</body>
</html>
